/* variables.css */
:root {
    --color-blue-zone1: #0D2B45;
    --color-blue-zone2: #203C56;
    --color-blue-zone3: #2F5578;
    --color-blue-zone4: #32689B;
    --color-orange: #FF6B35;
    --color-white: #FFFFFF;
    --color-light-gray: #E0E0E0;
}
